.header-container {
	padding: 8px;
	display: flex;
	align-items: center;
}

.left-header-container {
	color: white;
	align-self: center;
	display: flex;
	align-items: center;
	gap: 20px;
}

.header-logo {
	height: 100px;
}

.right-header-container {
	display: flex;
	gap: 24px;
	list-style-type: none;
	margin-left: auto;
}

.info {
	background-color: white;
}

.web-intro {
	display: flex;
	align-items: center;
}

.main-text {
	font-size: 48px;
	font-weight: 800;
	color: #F9FAF8;
	margin-bottom: 18px;
}

.secondary-text {
	font-size: 18px;
	color: #E5E7EB;
	margin-top: 10px;
}

.sign-up {
	background-color: #3882F6;
	border: none;
	text-align: center;
	text-decoration: none;
	padding: 16px 32px;
	font-size: 16px;
	border-radius: 12px;
	color: white;
	display: inline-block;
}

.sign-up:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.right-img {
	margin-left: auto;
}

.header-img {
	height: 400px;
}

.info {
	align-self: center;
}

a {
	text-decoration: none;
	color: white;
}

body {
	background-color: #1f2937;
	padding: 0px 100px 0px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

p {
	color: orange;
}